version: "3.8"

services:
  db:
    image: postgres:17-alpine
    container_name: expense_tracker_db
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: expensetracker
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d expensetracker"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
